<div class="navigation">
  <div class="nav-hint">Please choose an assessment.</div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/assignment-1">Assignment 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/assignment-2">Assignment 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/assignment-3">Assignment 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/assignment-4-form">Assignment 4</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
